

body {

background-image: url("wal.png");
background-attachment: fixed;
}


.ü {

position: relative;
left: 750px;
top: 40px;
color: rgb(216, 203, 21);
}



  

.mb {


position: relative;
left: 498px;
top: 300px;

}


.ms {

position: relative;
left: 512px;
top: 270px;
button 
}


.if1 {


position: relative;
top: -290px;
left: 1509px;
}

.if2 {


position: relative;
left: -8px;
top: -3300px;



}

